@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.resp {
    font-family: 'Roboto Mono', monospace;
}

.box {
    background-color: #3a3a3c;
    color: white;
    border-radius: 5px;
    resize: none;
    outline: none;
}
.submit {
    background-color: #818384;
    color: white;
    border-radius: 2px;
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    font-size: medium;
}

.submit:hover {
    background-color: #696a6b;
}